<mdc-top-app-bar #demoappbar fixed [mdcElevation]="4" [fixedAdjustElement]="mainContent">
    <mdc-top-app-bar-section align="start">
      <button mdcIconButton mdcTopAppBarNavIcon icon="menu"  (click)="demoModal.open = !demoModal.open" *ngIf="resolution >= 600"></button>
    </mdc-top-app-bar-section>
</mdc-top-app-bar>
<div class="main" #mainContent>
  <div class="content">
    <div class="layout__row--no-wrap demo-drawer-app">
      <mdc-drawer drawer="modal" #demoModal open>
        <mdc-drawer-header>
          <h3 mdcDrawerTitle>Angular + Truffle = 💓 ÐAPP</h3>
          <h6 mdcDrawerSubtitle>Scale like a pro!</h6>
        </mdc-drawer-header>
        <mdc-drawer-content>
          <mdc-list useActivatedClass>
              <a mdc-list-item routerLink="/">
                <mdc-icon mdcListItemGraphic>favorite</mdc-icon>Home
              </a>

              <a mdc-list-item routerLink="/transaction">
                <mdc-icon mdcListItemGraphic>money</mdc-icon>Transaction
              </a>

              <a mdc-list-item routerLink="/votingPool">
                <mdc-icon mdcListItemGraphic>where_to_vote</mdc-icon>Vote
              </a>

              <a mdc-list-item routerLink="/addCandidate">
                <mdc-icon mdcListItemGraphic>person_add</mdc-icon>Add Candidate
              </a>
          </mdc-list>
        </mdc-drawer-content>
      </mdc-drawer>
    </div>
  </div>
</div>

